/*build page without any data*/

/*heading style*/
   html body main .hero h1 {
        color: #000 !important;
    
    }
     /*heading link style */

   html body .logo-main svg {
        fill: #000 !important;
       
    }
    

html body.cre-t-19-buildPageWithoutData #app .secondary-links {
  display: none !important;


    
}
/* hero section style*/
    html body .hero {
        min-height: 240px !important;
        background: #F5F5F7;
        padding-bottom: 42px;

    }
    /* content form group changes */
    html body .hero .header-form form .form-group {
        margin-left: 0 !important;
        margin: 0 10px !important;
        float: none;
       
    }

  html body .hero .header-form {
        max-width: 1262px;
        margin: 10px auto;
        padding: 20px;
        width: 100% !important;
        background: #fff;
    }

    html body .hero .header-form form .form-group button {
        background-color: rgb(247, 148, 30) !important;
        border: 1px solid rgb(247, 148, 30) !important;
    }

   html body .hero .header-form form {
        display: flex;
        align-items: flex-end;
    }
    @media (max-width: 600px) {
 .homepage form {
    display:flex;
    
    justify-content: center;
    gap:20px;
  
     flex-wrap: wrap; 
}
 .homepage .form-group {
    display: block;
    width: 100%;
    padding: 10px;
}
    }

   html body input#tripdatepicker::placeholder {
        color: white;
        font-size: 12px;
    }
 html body input#people-select::placeholder {
        font-size: 12px;
        color: white;
    }

   html body select.form-control.margin-top {
        font-size: 12px;
       background: white;

    }

    html body main form .form-group:has(#tripdatepicker),
    html body main form .form-group:has(#people) {
        color: #000 !important;
        font-size: 12px !important;
        position: relative;

    }

    html body main form .form-group:has(#tripdatepicker)::before {
        content: "Welche Daten peilt ihr an?";
        color: #000;
        text-align: left;
        display: block;
        font-size: 12px;
    }

    html body main form .form-group:has(#people-select)::before {
        content: "Wie viele kommen mit?";
        color: #000;
        text-align: left;
        display: block;
        font-size: 12px;
    }

    html body main form .form-group:has([name="destination_id"])::before {
        position: relative;
        content: "JGA Reiseziel wählen";
        color: #000;
        text-align: left;
        display: block;
        font-size: 12px;
    }

    .homepage .cre-t-19-buildPageWithoutData .hero .content .header-form .input-fifty-fifty {
        margin: 0 1% !important;
    }

    /* Trustpilot  Section Styling*/
 
   html body .trust-pilot-box {
         display: none !important; 
    } 
html body .cre-t-19-trust-pilot-box {
        color: #00b67a !important;
        font-size: 20px;
    }

      html body .cre-t-19-trust-pilot-box {
        display: block;
        justify-content: center;
       text-align: center;
        gap: 5px;
        color: #000;
        margin-bottom: 12px;
        font-weight: 500;
        margin-top:50px;
       padding:40px;

    }

    /* screen Section Styling */

     section.screen-section {
        background: #FFFFFF;
        padding: 60px 40px;
        opacity: 1;
    }

     section.screen-section .container {
        max-width: 1200px;
        margin: auto;
    }

    .card-img {
        width: 100%;
        max-width: 30px;
    }

     .card-img img {
        width: 100%;
    }

     .heading {
        font-family: Rubik;
        font-weight: bold;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000000;
    }

 .card {
        display: flex;
        gap: 20px;
        margin-top: 20px;
        flex-wrap: wrap;
    }

     .card-content {
        opacity: 1;
        padding: 20px 15px;
        gap: 10px;
        border-radius: 5px;
        border-width: 0.8px;
        width: 100%;
        max-width: 216px;
        background: #F5F5F7;
        border-top: 0.8px solid #D4D6D9;
    }

     .card-body h3 {
        font-family: Rubik;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0%;
        color: #000000;
    }

     .card-body p {
        font-family: Rubik;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #000000;
    }

    @media (max-width: 600px) {
         .card {
            flex-direction: column;
            align-items: center;
        }

        .card-content {
            width: 100%;
            max-width: 100%;
        }

    }


     /*screencapture-section style */
     section.screencapture-section {
        padding: 80px 20px;
        background: #F5F5F7;
    }

       section.screencapture-section .container {
        max-width: 1200px;
        margin: auto;
    }

     section.screencapture-section .heading {
        width: 100%;
    
        max-width:690px;

    }

    .heading h2 {
        font-family: Rubik;
        font-weight: 600;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 10px;


    }

     .heading p {
        font-family: Rubik;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 10px;

    }

    .card-group {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

     .icon {
        opacity: 1;
        gap: 20px;
        border-radius: 5px;
        width: 100%;
        max-width: 346px;
    }

    .icon-body {
        width: 100%;
        max-width: 377px;
    }

  .icon-body img {
        width: 100%;
        display: block;
    }

    .icon-text {
        background: #F7941E33;
        padding: 1px 20px 40px 20px;
        border-radius: 5px;
        text-align: center;
        min-height: 267px;
        padding-bottom: 6px;
    }

     .icon-text h3 {
        font-family: Rubik;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0%;
        color: #000000;
        margin-top: 10px;

    }

     .icon-text span {
        font-family: Rubik;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: center;
        color: #000000;
        margin-top: 10px;
    }

     .icon-text p {
        font-family: Rubik;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0%;
        /* text-align: center; */
        color: #000;
        margin-top: 6px;
    }
    /*accordion-section */
     .homepage .accordion-section {
        padding: 80px 20px;
        background: #fff;
    }

    .homepage .container {
        max-width: 1200px;
        margin: auto;
    }

    .homepage .heading h2 {
        font-family: Rubik;
        font-weight: 300;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        text-align: center;
    }

    .homepage .accordion {
        border-bottom: 0.8px solid #D4D6D9;
        padding: 30px 20px;
    }

    .homepage h3 {
        font-family: Rubik;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        letter-spacing: 0%;
        color: #000000;
    }

    .homepage .accordion-header {
        display: flex;
        justify-content: space-between;
        position: relative;
        /* ✅ IMPORTANT FIX */
        cursor: pointer;
        padding-right: 30px;
        /* space for + icon */
        margin-bottom: 25px;
        max-height: 0;
    }

    /* + icon */
    .homepage .accordion-header::after {
        content: "+";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        font-size: 20px;
        font-weight: 300;
        color: #000;
        transition: 0.3s ease;
    }

    /* when active → becomes minus */
    .homepage .accordion-text.show .accordion-header::after {
        content: "+";
        transform: translateY(-50%) rotate(45deg);
        /* + becomes × */

    }

    .homepage .accordion-collapse {
        display: none;
    }

    .homepage .accordion-text.show .accordion-collapse {
        display: block;
    
    }
    /* homepage div.content */
    @media (max-width: 991px) {
        .homepage .hero.fit-viewport div.content {
            height: calc(100vh - 210px) !important;
        }
    }

    /*buildweekend page with any data*/
    /*heading links svg styling */
    
.header-main .secondary-links>div .icon {
    
    color: #000;
}

  /*  buildweekend heading style */
  main[data-itinerary-sync] .content h1 {
    color: #000 !important;
}


/* buildpage hero -images */
    .buildWeekend img.hero-image {
        visibility: hidden;
    
    }

  /*  content header form styles */
main[data-itinerary-sync] .overlay-image .header-form {
  display: flex !important;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
    main[data-itinerary-sync] .overlay-image .header-form {
        flex-direction: column !important;
    }
}
/* buildpagewith data */
.cre-t-19-buildPageWithData main {
    background: #fff !important;
}
/* itinerary-grid style*/
main > .itinerary-grid > .col:first-child {
    margin-top: 20px;
    height: auto;
    height: max-content;
    border-radius: 5px;
    border: 1px solid #D4D6D9;
    background: #FFF;
}

.cre-t-19-buildPageWithData main>.itinerary-grid {
    padding-top: 20px;
    max-width: 1262px !important;
}
main > .itinerary-grid > .col:first-child > .trip-data {
    padding: 20px;
}
/*itinerary -grid trip data style*/
.itinerary-grid .trip-data .row.day {
    border: 1px solid #D4D6D9;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.trip-data + div h2 {
    display: none !important;
}
    
    .button.button-gradient,
    .cms-content .button {
        
    background-color: #ff1d25;
    background-image: linear-gradient(to right, #F7941E, #FF1D25);
    background-repeat: repeat-x;
    color: #fff;
    border-left: solid 1px #F7941E;
    border-right: solid 1px #FF1D25;
    border-top: solid 1px #F7941E;
    border-bottom: solid 1px #F7941E;
    position: relative;

    }

    .buildWeekend.header-main .secondary-links {
        display: inline-flex !important;
    }
    /*list section style */
    html body main[data-itinerary-sync] #reviews-section, html body main[data-itinerary-sync] .list-steps {
    display: none !important;
    }
button.button-neutral, .button.button-neutral {
    background: #ffffff;
    border: solid 1px #D4D6D9;


}
/* accodomation button style */

.buildWeekend .accordion-button {
    display: flex;
}
.buildWeekend a.accordion-primary {
    font-family: Rubik;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #D4D6D9;
    padding: 10px 30px;
    text-decoration: none;
}
.buildWeekend a.accordion-secondary{
        font-family: Rubik;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #D4D6D9;

}


.buildWeekend a.accordion-secondary.active{
    background-color:#000;
}

.buildWeekend a.accordion-primary.active{
    background-color: #000; 

}
/*slidebar-section style */

.buildWeekend .slidebar {
    width: 310px;
    opacity: 1;
    border-radius: 5px;
    border-width: 1px;
    padding: 20px;
    border: 1px solid #D4D6D9;
    margin-top:20px;
   
    
}
.buildWeekend .slidebar-head {
    width: 100%;
    max-width: 233px;
    margin-bottom: 10px;
} 
 .buildWeekend .slidebar-head h2 {
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #000000;
}

.buildWeekend .avatar-image {
    width: 100%;
    max-width: 300px;
}

.buildWeekend .avatar-image img {
    width: 100%;
}

.buildWeekend .slidebar-text p {
    font-family: Rubik;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #000000;
}

.buildWeekend button.button-small-dark {
    font-family: Rubik;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    border: none;
    color: #006AA7;
    background: none;
}
/* build page sidebaritems styles */
.sidebar {
    display: none;
}