a.nav-btn {
    background: orange;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    color: #000;
    display: flex;
    margin-left: 30px;
    margin-top: 8px;
    width: 100%;
    max-width: 164px;
    cursor:pointer;
}