
        body {
    background: #f7faff;
}
        .swipper-wrapper {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 25px;
   
}div#slidestep1{
    width: 47px;
    height: 47px;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    align-items: center;
    border:1px solid;

}
.slide {
    width: 47px;
    height: 47px;
    background: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    align-items: center;
    border:1px solid;
    
}
.swipper-img {
    width: 100%;
    max-width: 500px;
  
}
 .swipper-img img {
    width: 100%;
    display: block;
    border-radius: 12px;
}
p.swipper-text {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    width: 98%;
    padding:12px;
}
.swipper-content {
    width: 100%;
    border-radius: 12px;
    border: 1px solid black;
    max-width: 420px;
}
.swipper-pagination {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:25px;
}
.swipper-button {
    display: none;
    justify-content: space-around;
    padding-top: 23px;
}
.swipper-prev-button {
    font-size: 18px;
    line-height: 24px;
    padding: 7px 21px;
    border-radius: 6px;
    border: 1px solid black;
    
    background: red;
    color: white;
    font-weight: 500;
}
.swipper-next-button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    background: green;
    
    padding: 7px 21px;
    border-radius: 6px;
}

.hidden-step{
    display:none;
} div#slidestep1.active{
    background: blue;
    color: white;
}.active{
    background: blue;
    color: white;
}

.arow{
    display: flex;
    justify-content: flex-start;
    width:100%;
    align-items: center;
}

 .button-prev,.button-next {
    color: var(--color-primary);
    fill:#fff;
    position: absolute;
    
    transform: translateY(-414%);
    z-index: 10;
    height: 44px;
    width: auto;
}
svg.button-next {
    right: 100px;
    
    background: blue;
    border-radius: 50%;

}svg.button-prev {
    left: 100px;
    
    background:blue;
    border-radius: 50%;

}


.left-arrow:hover,
.right-arrow:hover{
    transform: scale(1.1);
}

.pagination{
    display:flex;
    justify-content:center;
    gap:10px;
}

.dot{
    width:12px;
    height:12px;
    border-radius:50%;
    background:#cbd5e1;
    cursor:pointer;
    transition:0.3s;
}

.dot.active{
    background:#2563eb;
    transform:scale(1.3);
}
	
/* planning-section  style*/
        section.planning-section {
    padding: 120px 60px;
    background: #fff;
}
.planning-section-container {
    max-width: 1120px;
    margin: auto;
}
/* wrapper style*/
.planning-section-wrapper {
    width: 100%;
    max-width: 1106px;

}
/*planning-section-text styles*/
.planning-section-text {
    width: 100%;
    max-width: 758px;
    margin: auto;
}
/*content styles */
h2.planning-sectioon-title {
    font-family: Manrope;
    font-weight: 800;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
   color: #383F4D;

}
/*span styling */
 .planning-section-text span {
    font-family: Manrope;
    font-weight: 800;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #3066C9;
}
/*planning-secton-text p styles */
 .planning-section-text p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.09px;
    text-align: center;
    color: #000000;
} 
/*pannel-section styles*/
.planning-section-pannels {
    background: #EAF0FA;
    border-radius: 20px;
    padding: 12px;
}
/* plannig-section-pannel-items styling */
.planning-section-pannel-active {
    display: flex;
    gap: 80px;
}
/*planning-section -pannel-items styling */
.planning-section-pannel {

    display: flex;
    gap: 80px;
}
/*planning button styling */
.planning-section-crop-tab{
       display: flex;
    height: 56px;
    justify-content: center;
    margin: 0 auto -1px;
    gap: 36px;
}
/*first button styling*/
button.crop-tab-button-first {
    background: #fff;
    color: #383f4d;
    border: none;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.09px;
    padding: 17px;
    border-radius: 6px;
    min-width:99px;
}

/*middle button styling*/
button.crop-tab-button-middle {
    
     background:#fff;
    color: #383f4d;
    border: none;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.09px;
    padding: 17px;
    border-radius: 6px;
    min-width:99px;
}
/*last button styling*/
    button.crop-tab-button-last{
        
     background:#fff;
    color: #383f4d;
    border: none;

    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.09px;
    padding: 17px;
    border-radius: 6px;
    min-width:99px;

    }
    /*button styling in active */
    button.crop-tab-button-first.active{
            background: #eaf0fa;
    }
    button.crop-tab-button-middle.active{
         background: #eaf0fa;

    }
    button.crop-tab-button-last.active{
          background: #eaf0fa;

    }
/*planning-section-items img styles */
.planning-section-items {
   width:100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 25px;

}

 .planning-section-items img{
    width: 100%;

}


/* planning-section content styles*/
.planning-section-pannel-content {
    margin: auto;
}
/*pannel-title styles*/
h2.planning-section-pannel-title {
    font-family: poppins;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
/* }
.planning-section-crop-tab {
    display: flex;
    justify-content: center;
    gap: 30px;
} */
/*planning-section-title*/
h2.planning-section-pannel-title {
    font-size: 40px;
    font-family: poppins;
    line-height: 48px;
    color: #000;
}
 /*planning-section para styles*/
.planning-section-description p {
    font-size: 18px;
    line-height: 24px;
    color: #000;
}
 /*planning-section buttons */
.planning-section-jpg {
    padding: 15px;
    margin-top: 23px;
}
/* a pay -button 
a.pay-button {
    background: transparent;
    border: 1px solid #3066c9;
    border-radius: 8px;
    color: #3066c9;
    display: inline-block;
    font-size: 18px !important;
    font-weight: 500;
    font-weight: 600;
    line-height: 160% !important;
    margin-right: 16px;
    padding: 11px 19px;
    text-align: center;
    transition: .3s;
    text-decoration: none;
}

.planning-section-pannel-features {
    display: flex;
    gap: 70px;
}
/*planning-section-pannel-features-title*/
h3.planning-section-pannel-features-title {
    font-family: Manrope;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.09px;

}
.planning-section-pannel-features-content {
    margin: auto;
}
/*planning-section features-content li*/
.planning-section-pannel-features-content li {
    font-family: Manrope;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.09px;
    color:#000;
}
/* pannel-features-content span*/
.planning-section-pannel-features-content span{
    font-family: Manrope;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
color:#000;
line-height: 24px;
letter-spacing: 0.09px;

}.planning-section-wrapper > .planning-section-pannels{
    display:block;
}

.planning-section-wrapper > .planning-section-pannels.active{
    display:block;
}.planning-section-pannels {
    display:block;
}
@media (max-width: 768px) {
    /*planning-section-title */
    h2.planning-sectioon-title{
        font-size: 30px;
        line-height: 40px;
        color:#000;
    }
/*pannel-features-styles*/
    .planning-section-pannel-features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* panel active fix */
    .planning-section-pannels-active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


  section.planning-section{
    padding: 60px 20px;
  }

  .planning-section-wrapper{
    max-width: 100%;
  }

  h2.planning-sectioon-title,
  .planning-section-text span{
    font-size: 30px;
    line-height: 40px;
  }
/* text p styles */
  .planning-section-text p{
    font-size: 16px;
    line-height: 24px;
  
  }

  

  /* all panels */
  .planning-section-pannel-active,
  .planning-section-pannel,
  .planning-section-pannel-features{
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  /*planning-section styles */

  .planning-section-pannels{
    padding: 10px;
  }

  .planning-section-items{
    max-width: 400px;
    height:auto;
    width:100%;
  }

  .planning-section-items img{
    width: 100%;
    height: auto;
    display: block;
  }

  h2.planning-section-pannel-title{
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  .planning-section-description p{
    text-align: center;
    font-size: 16px;
  }
/*img add */
  .planning-section-jpg{
    text-align: center;
    padding: 0;
  }
/*button styles*/
  a.pay-button{
    width: 100%;
    max-width: 250px;
  }
/*content styes */
  
/* pannel-features-titile*/
  h3.planning-section-pannel-features-title{
    font-size: 20px;
    line-height: 28px;
  }
/*pannel-features-content li */
  .planning-section-pannel-features-content li{
    font-size: 18px;
    line-height: 26px;
 
  }
}
/* pay-anyone-container*/

.iframe-sec {
    padding: 0 64px;
    /* padding-top: 72px; */
    margin-top: 90px;
}
        /*section.reward-section styles*/
section.reward-section {
    padding: 112px 60px;
    background: #F9F9F9;
}
/*container */
.reward-section-container {
    max-width: 1120px;
    margin: 0 auto;
}
.reward-section-wrapper {
    display: flex;
   justify-content: space-between;
    align-items: center;
}
/*reward-section-content*/
.reward-section-content {
    width: 100%;
   
}
/* reward-section-content h2 styles */
 .reward-section-content h2 {
    font-family: Manrope;
    font-weight: 800;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #383F4D;

}
/*span styles*/
.reward-section-content span {
    font-family: Manrope;
    font-weight: 800;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #3066C9;
}
/*strong styles */
 .reward-section-content strong {
    font-family: Manrope;
    font-weight: 800;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #383F4D;
}
/*reward-section-content */
  .reward-section-content p {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
}
/*button */
.reward-section-content-button {
    padding: 15px;
    display: flex;
}

button.primary {
    padding: 14px 30px;
    border-radius: 6px;
    font-family: Manrope;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0%;
    color: #3066C9;
    border:1px solid;
}  /* img styles*/
.reward-section-img {
    max-width: 585px;
    width:100%;
}
.reward-section-img img{
    width: 100%;
    height: auto;
}
/* media scree apply*/
@media(max-width: 768px){
    .reward-section-wrapper{
        flex-direction:column;
    }section.reward-section{
        padding:60px 20px;
    }.reward-section-content{
        width:100%;
    }.reward-section-content h2{
        font-size: 32px;
        line-height:40px;
    }.reward-section-content span {
        font-size: 32px;
        line-height: 40px;
    }

}
/* section.save-section */

section.save-section {
    padding: 120px 60px;
    background: #fff;
}
.save-section-container {
    max-width: 1120px;
    margin: 0 auto;
}
/*save-section-text h2*/
 .save-section-text h2 {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 56px;
    color: #183263;
}
/*save-section-text p*/
 .save-section-text p {
    color: #183263;
    font-size: 18px !important;
    line-height: 150% !important;
    font-weight: 300;
}
/*save-section-button*/

.save-section-button {
    padding: 15px;
}
 .save-section-button a.primary {
    padding: 11px 19px;
    border: 1px solid #3066c9;
    border-radius: 8px;
    text-decoration: none;
    background: transparent;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
}
/*section wrapper */
.save-section-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
/*save-section-left*/
.save-section-left {
    background: #eaf0fa;
    border-radius: 32px;
    padding: 20px;
    color: #3366c7;
    display:flex;
    gap:28px;

}
/*save-section-img*/
.save-section-img {
    width: 100%;
    max-width: 490px;
}
img.pay-responsive-img {
    width: 100%;
    max-width: 483px;
   
}
/*media screen for save-section styles*/
@media (max-width:768px){
    section.save-section{
        padding: 60px 20px;
    }.save-section-left{
        flex-direction: column;
    }.save-section-text h2{
        font-size:32px;
        line-height: 40px;
    }
}